
:root {
    --main-color: #5f4b8b;
    --main-color-light: #8d7db1;
    --main-color-very-light: #d1c8e4;
    --main-second-color: #ffee00;
    --main-background-color: #fafafa;
    --main-border-color: #efefef;
    --border-padrao: 2px;
}

.painel{
    padding: 20px 20px;
    background-color: white;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.25);
}

#form-sugestao input,
#form-sugestao textarea,
#form-sugestao select{
    box-shadow: none;
    -webkit-border-radius: var(--border-padrao);
    -moz-border-radius: var(--border-padrao);
    border-radius: var(--border-padrao);
    background-color: var(--main-background-color);
    border-color: var(--main-border-color);
}

#form-sugestao input:focus,
#form-sugestao textarea:focus,
#form-sugestao select:focus{
    border-color: var(--main-color-very-light);   
}

#btn-enviar-sugestao{
    box-shadow: none;
    color: var(--main-second-color);
}


.btn-link{
    color: var(--main-color);
}

.btn-link:hover{
    color: var(--main-color);
}

.alert{
    padding: 10px 55px 10px 30px;
}